<footer class="pt-3 text-body-secondary border-top">
  <div class="row">
    <div class="col-12 col-md">
      <a
        href="{{ url_for('index') }}"
        class="d-flex align-items-center text-body-emphasis text-decoration-none me-3"
      >
        <img
          src="{{ url_for('static', filename='img/logo-100x100.svg') }}"
          class="me-2"
          style="height: 35px; width: 35px"
        />
        <span class="fs-4" style="color: #454545"
          ><strong>Parla Inglese Online</strong></span
        >
      </a>
      <p class="d-block my-3 text-body-secondary fs-5">
        &copy; 2025 ParlaIngleseOnline.com<br />All rights reserved.
      </p>
      <a
        type="button"
        class="btn btn-dark"
        href="https://maxtermedia.com/"
        target="_blank"
        >Made by <strong>MaxterMedia</strong></a
      >
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a
            class="link-secondary text-decoration-none fw-normal"
            href="https://www.learnitalianpod.com/learn-italian-for-beginners/"
            target="_blank"
            >Learn Italian for Beginners</a
          >
        </li>
        <li class="mb-1">
          <a
            class="link-secondary text-decoration-none fw-normal"
            href="https://www.learnitalianpod.com/learnitalianpod-podcast-series/"
            target="_blank"
            >LearnItalianPod Podcast</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Who We Are</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a
            class="link-secondary text-decoration-none fw-normal"
            href="https://www.learnitalianpod.com/about-us-learnitalianpod/"
            >About</a
          >
        </li>
        <li class="mb-1">
          <a
            class="link-secondary text-decoration-none fw-normal"
            href="https://www.learnitalianpod.com/contact/"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
