<footer class="pt-3 text-body-secondary border-top"></footer>
  <div class="container">
    <div class="row gy-4">
      <!-- Logo and Copyright Column -->
      <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ url_for('index') }}" 
           class="d-flex align-items-center text-body-emphasis text-decoration-none mb-2">
          <img src="{{ url_for('static', filename='img/logo-100x100.svg') }}"
               class="me-2"
               style="height: 35px; width: 35px"
               alt="Speak Italian Logo" />
          <span class="fs-4" style="color: #454545">
            <strong>Speak Italian</strong>
          </span>
        </a>
        <p class="text-body-secondary fs-6 mb-0">
          &copy; 2025 Italian Pronunciation<br />All rights reserved.
        </p>
      </div>

      <!-- Resources Column -->
      <div class="col-6 col-md-3 col-lg-4">
        <h5 class="mb-3">Resources</h5>
        <ul class="list-unstyled text-small mb-0">
          <li class="mb-2">
            <a class="link-secondary text-decoration-none fw-normal"
               href="https://www.learnitalianpod.com/italianchat/"
               target="_blank">
              Master Italian Conversations
            </a>
          </li>
          <li class="mb-2">
            <a class="link-secondary text-decoration-none fw-normal"
               href="https://www.learnitalianpod.com/learn-italian-for-beginners/"
               target="_blank">
              Learn Italian for Beginners
            </a>
          </li>
        </ul>
      </div>

      <!-- Who We Are Column -->
      <div class="col-6 col-md-3 col-lg-4">
        <h5 class="mb-3">Who We Are</h5>
        <ul class="list-unstyled text-small mb-0">
          <li class="mb-2">
            <a class="link-secondary text-decoration-none fw-normal"
               href="https://www.learnitalianpod.com/about-us-learnitalianpod/">
              About
            </a>
          </li>
          <li class="mb-2">
            <a class="link-secondary text-decoration-none fw-normal"
               href="https://www.learnitalianpod.com/contact/">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>